.bg-gray {
  background-color: #f7f9f9;
}

.page-header {
  margin: 1.3em 0 1em;
  line-height: 1.3;
  letter-spacing: -0.00625em;
}

.bucket {
  padding-left: 0;
  padding-right: 0;

}

.link {
  color:;
}

.info {
  background-color: #eef1f1;
  color: #49595e;
}