.bg-gray {
  background-color: #f7f9f9;
    padding: 20px 10px 20px 10px;
}

.card {
  border: none;
  border-bottom: 1px solid #eef1f1;
}

.temp-img {
  border: none;
}

.card-text {
  color: #777;
  
}

.card-block {
  padding-top: .5rem;
  padding-left: 0;
}

.caption {
  font-size: 87%;
  color: #777;
  margin-bottom: 0;
}

.credit {
  font-size: 82%;
  color: #aaa;
  font-style: italic;
  font-weight: normal;
  margin-bottom: .5rem;
}

/* FILE ATTACH STYLES */

.file-attach-bucket {
  border-top: 1px solid #eef1f1;
  margin-bottom: 4rem;
}

.img80 {
  float: left;
  margin: 10px 10px 0 0;
} 

.bucketblock {
  margin-left: 80px;
  padding: 9px 11px 9px 17px;
  line-height: 1.2;
}

.slug {
  font-size: 1rem;
  margin-bottom: 5px;
  font-weight: 100;
}

.slug a {
  font-weight: 100;
}

.attachement {
  font-size: 1rem;
  color: #49595e;
  margin-bottom: 10px;
}