.nav>li>a {
  color: #333;
  font-weight: 100;
  line-height: 1.3;
}

.nav>li>a:hover {
  color: #333;
  font-weight: 100;
}

.nav-stacked>li.active>a {
  font-weight: 100;
  text-decoration: none;
  color: #076974;
  background-color: #eef1f1;
}

.third-level-ul {
  list-style-type: none;
}

.third-level-li {
  text-align: center;
}