p {
  margin: 0 0 1.7rem;
}

body {
  line-height: 1.7;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-title {
  font-weight: 600;
  text-transform: uppercase;
}

.left-sidebar {
  background-color: #f7f8f8;
  padding-bottom: 10px;
}
.border-bottom {
    border-bottom: 1px solid hsla(180, 10%, 94%, 1);
}

.media-list-row {
    border-bottom: 1px solid hsla(180, 10%, 94%, 1);
}
.news-list .media-list-row:last-of-type {
    border-bottom-color:transparent;
}

.link {
  color: #8F1124;
}


.bg-ash-tint a.list-link-block:hover {
    background: hsla(180, 10%, 92%, 0.9);
    color: #49595e;
    text-decoration: none;
}

.bg-ash-tint a.list-link-block {
    color: #49595e;
    display: block;
    font-weight: normal;
    margin: 0 -16px;
    padding: 16px;
}

.bg-ash-tint .media-list-row {
    border-bottom: 1px solid hsla(180, 10%, 90%, .9);
}

.bg-ash-tint .media-list-row:last-child {
    border-bottom: none;
}


.text-red {
    color:#8f1124;
}

.body-img {
  margin: 0 10px 0 0;
}

.media-heading {
  line-height: 1.3;
}

img.pull-left {
  margin: .3em 1em 0em 0;
}

.place-holder {
  color: #49595e;
  font-weight: 300;
  margin-bottom: .5rem;
}

.page-header {
  margin: 3rem 0 2rem;
  line-height: 1.2;
  letter-spacing: -0.00625em;
}