body {
    background-image: url("img/meinel bldg_front-X3.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.img-small {
    width: 10%;
    vertical-align: middle;
    margin-bottom: 1rem;
}

.vitae-bottom {
    margin-top: 500px;
}

.margin-bottom {
    margin-bottom: 50px;
}
.margin-bottom2 {
    margin-bottom: 25px;
}

.margin-top {
    margin-top: 50px;
}

.bg-image {
    background-color: rgba(247, 249, 249, 0.7);
}



.search-margin {
    margin-bottom: 25px;
}

.middle {
    margin-top: 100px;
}






