.img-small {
    width: 20%;
    vertical-align: middle;
    margin-bottom: .5rem;
}

@media (min-width:768px) {
.img-small {
      width: 10%;
      vertical-align: middle;
      margin-bottom: 1rem;
  }
}

.vitae-bottom {
    margin-top: 200px;
}

@media (min-width:768px) {
  .margin-bottom {
      margin-bottom: 50px;
  }
}

@media (min-width:768px) {
  .margin-top {
      margin-top: 50px;
  }
}

.bg-image {
    background-image: url("img/meinel bldg_front-X3.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
}

@media(min-width: 768px) {
    .bg-image {
        height: 300px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

    }
}

@media (min-width:768px) {
.search-margin {
      margin-top: 70px;
  }
}





