.img-small {
    width: 10%;
    vertical-align: middle;
    margin-bottom: 1rem;
}

.vitae-bottom {
    margin-top: 200px;
}

.margin-bottom {
    margin-bottom: 50px;
}
.margin-top {
    margin-top: 50px;
}

.bg-image {
    background-image: url("img/meinel bldg_front-X3.jpg");
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
}

@media(min-width: 768px) {
    .bg-image {
        background-image: url("img/meinel bldg_front-X3.jpg");
        background-repeat: no-repeat;
        width: 100%;
        background-position: center;
        height: 125px;
    }
}


