hr {
  margin-top: 2px;
  margin-bottom: 2px;
}

a.list-link-block {
  display: block;
  margin: 0 -16px;
  padding: 16px;
  border-bottom: 1px solid #eef1f1;
}

a.list-link-block:hover {
  background: hsla(180, 10%, 94%,0.5);
  text-decoration: none;
}

.title {
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-title {
  font-weight: 600;
  text-transform: uppercase;
}

ul ul {
  padding-left: 15px;
}

ul ul li a {
  color: #49595e;
  font-weight: 500;
}

ul ul li a:hover {
  color: #49595e;
}

@media (min-width: 768px) {
  .nav-stacked>li>a {
    margin-top: 20px;
    background: none;
    text-transform: uppercase;
  }
}

.left-sidebar {
  background-color: #f7f8f8;
  padding-bottom: 10px;
}

/*///////////DELETE//////////////*/
.third-level-link {
  list-style-type:none;
  padding: 10px 15px;
  /*background: right center no-repeat #fff;*/
}

.third-level-link a {
  list-style-type:none;
  color: #395180;
  text-decoration: none;
  font-weight: normal;
}

.third-level-link:hover {
  background-color: #eef1f1;
}
/*///////////DELETE//////////////*/

.quicklinks {
  background-color: #f7f8f8;
  padding-left: 25px;
  padding-right: 25px;
}

.field-uaqs-summary {
  color: #49595e;
  font-weight: normal;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .field-uaqs-summary {
  }
}

.field-title-field {
  margin-top: ;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .field-title-field {
    
  }
}

.media-heading {
  color: #49595e;
  font-weight: 600;
}

.news-date {
  color: #999999;
  margin-top: 0;
  margin-bottom: 20px;
}
