.bg-gray {
  background-color: #f7f9f9;
    padding: 20px 10px 20px 10px;
}
.side-center {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
.btn-group-vertical {
    width: 100%;
}
#datepicker {
    width: inherit;
}

h4 {
    margin-bottom: 0px;
    font-weight: bold;
}
.btn-primary {
    background-color: #076873;
}

.info {
    color: #B6BEC1;
}

.cast {
    margin-top: 0px;
    padding-top: 0px;
}

.margin-bottom {
  margin-bottom: 15px;
}