.bg-gray {
  background-color: #f7f9f9;
    padding: 20px 10px 20px 10px;
}

.card {
  border: none;
  border-bottom: 1px solid #eef1f1;
}

.temp-img {
  border: none;
}

.card-text {
  color: #777;
  
}

.card-block {
  padding-top: .5rem;
  padding-left: 0;
}

.caption {
  font-size: 87%;
  color: #777;
  margin-bottom: 0;
}

.credit {
  font-size: 82%;
  color: #aaa;
  font-style: italic;
  font-weight: normal;
  margin-bottom: .5rem;
}