.banner {
  margin: 2em 0 2em 0;
}

@media (max-width:48em) {
  .banner img {
    max-width: 300px;
  }
}

.label {
  font-size: 16px;
  margin: .2em;
}

.label-tag {
  background-color: #b6bec1;
  color: #ffffff;
}

.sidebar {
  background-color: #f7f9f9;
  padding: 1.25rem;
}

@media (max-width: 48em) {
  .sidebar {
    margin-top: 2em;
  }
}